/* 
line-height = 1.5
reduced line-height = 1.25
base font-size = 18px
action color = #90b125
action color dark = #809e15
error color = #c00;
*/

html {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: #505256;
	font-family: Arvo, serif;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-decoration: none;
	outline-offset: 0.125em;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* phrasing
------------------------------------------------------ */

p * {
	line-height: 1;
}

a {
	color: #90b125;
}

a:hover, a:active {
	color: #809e15;
}

p a {
	border-bottom: 1px solid;
}

p a:hover, p a:focus {
	border-bottom: 2px solid;
}

em, i, q, cite {
	font-style: italic;
}

strong, b, abbr, h1, h2, h3 {
	font-weight: 700;
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted;
}

code, samp {
	font-family: monospace;
	background: #ddd;
	padding: 0 0.25em;
}

sup, sub {
	line-height: 0;
	font-size: 0.8em;
}

sup {
	vertical-align: super;
	font-style: italic;
}

sub {
	vertical-align: sub;
	position: relative;
	top: -0.125em;
	font-size: 0.8em;
}

kbd {
	font-family: 'Lucida Console', monospace;
	padding: 0.125em 0.25em;
	background: #ddd;
	padding: 0 0.125em;
	white-space: nowrap;
}

/* flow
------------------------------------------------------ */

p {
	line-height: 1.5;
}

* + * {
	margin-top: 18px; /* change if html size changes (top) */
	margin-top: 1.5rem;
}
body {
	margin: 0;
	padding: 1.5em;
	overflow-x: hidden;
}

body > div {
	margin-top: 0;
}

p + p {
	margin-top: 0.75em;
}

h1, h2, h3, h4 {
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1.125;
	font-family: Rokkitt, Arvo, serif;
}

h1 {
	text-align: center;
}

h1 { font-size: 2.75em; }
h2 {font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1em; }

hr {
    position: relative;
    border-top: 0.5em dotted #505256;
    margin: 3em 0;
}

hr:after {
    content: '';
    display: block;
    border-top: 1px solid #505256;
    border-bottom: 1px solid #505256;
    position: relative;
    top: -0.25em;
    z-index: 5;
}

li, dt, dd, option {
	margin-top: 0;
}

blockquote, figure {
	font-size: 1.25em;
}

blockquote > p, figcaption {
	font-style: italic;
}

blockquote > p:before {
	content: '\201c';
	font-family: Georgia, serif;
}

blockquote > p:after {
	content: '\201d';
	font-family: Georgia, serif;
}

figcaption {
	text-align: center;
}

blockquote footer {
	text-align: center;
}

blockquote footer:before {
	content: '~\0020';
}

blockquote footer:after {
	content: '\0020~';
}

cite {
	font-style: normal;
}

/* banner
------------------------------------------------------ */

[role="banner"] {
	margin-top: 0;
	font-size: 0;
}

[role="banner"] > * {
	font-size: 20px;
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
}

[role="banner"] a {
	width: 32%;
}

[role="banner"] nav {
	width: 68%;
	margin-top: 0.33em;
}

[href="#main"] {
	display: block;
	padding: 0.75em 0;
	color: #fff;
	background: #809e15;
	position: absolute;
	top: -5em;
	left: 0;
	width: 100%;
	text-align: center;
}

[href="#main"]:focus {
	top: 0;
	text-decoration: underline;
}

/* lists / navigation
------------------------------------------------------ */

li {
	list-style: disc inside;
}

dt {
	font-weight: bold;
}

[role="navigation"] ul {
	display: table;
	width: 100%;
	padding-left: 2.5em;
}

[role="navigation"] li {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
	line-height: 1.1;
}

[role="navigation"] a {
	padding: 0 0.5em;
	text-align: center;
	font-size: 0.9em;
}

[role="navigation"] a:hover, [role="navigation"] a:focus {
	color: #505256;
}

/* buttons
------------------------------------------------------ */

button, .button-shaped, [type="submit"] {
	display: inline-block;
	font-size: 1.25em;
	font-family: inherit;
	color: #fff;
	background: #505256;
	padding: 0.25em 1em;
	margin: 0.75em;
	cursor: pointer;
	border-radius: 0.0625em;
}

.button-shaped {
	background: #fff;
	color: #505256;
	border: 2px solid;
	border-right: 0;
	border-left: 0;
}

.get-involved a {
	font-size: 0.85em;
}

.button-shaped:after, .get-involved a:after {
	content: '\0020\21E2';
	vertical-align: middle;
}

button:hover, button:focus, 
[type="submit"]:hover, [type="submit"]:focus
{
	background: #809e15;
	color: #fff;
}

.button-shaped:hover, .button-shaped:focus {
	color: #809e15;
}

button:focus, 
.button-shaped:focus, 
[type="submit"]:focus {
	outline: thin dotted !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.actions .button-shaped {
	font-size: 0.9em;
}

[disabled], [readonly] {
	cursor: default;
	opacity: 0.6;
}

[disabled]:focus, [readonly]:focus {
	background: #c00;
}

/* forms
------------------------------------------------------ */

/*

Uses the format

<form>
	<fieldset>
		<legend></legend>
		<div>
			<label></label>
			--form input / textarea etc--
		</div>
		<div>
			... " ...
		</div>
	</fieldset>
</form>

*/

fieldset {
	padding: 1.5em;
	border: 2px solid #222;
	background: transparent;
}

form div {
	margin-top: 1.5em;
}

legend {
	font-size: 1.25rem;
	font-style: italic;
	padding: 0 0.5em;
	background: #222;
	padding: 0.25em;
	color: #fff;
}

legend + div {
	margin-top: 0;
}

label {
	display: block;
}

form * + * {
	display: block;
	margin-top: 0.75em;
}

* + label {
	margin-top: 1.5em;
}

label + label {
	margin-top: 0;
}

input, textarea, select {
	font-size: inherit;
	font-family: inherit;
	margin-top: 0.33em;
	line-height: 1.5;
	width: 100%;
	padding: 0.25em;
	border: 2px solid #222;
}

input:focus, textarea:focus, select:focus {
	outline: 2px solid #222;
	outline-offset: 0;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	padding: 0;
	border: 0;
	margin-top: 0;
}

label input {
	display: inline-block; 
	margin-right: 0.5em;
	vertical-align: baseline;
}

form p {
	opacity: 0.7;
}

/* images
------------------------------------------------------ */

img {
	max-width: 100%;
	height: auto;
}

/* layout
------------------------------------------------------ */

main {
	margin: 3em auto 0;
	max-width: 880px;
}

h1 + p {
	font-style: italic;
	font-size: 1.25em;
	margin-top: 0;
}

h1 .button-shaped {
	font-size: 0.5em;
	margin: 0;
	padding: 0.125em 0.5em;
	vertical-align: middle;
}

.actions {
	text-align: center;
}

.actions li {
	display: inline-block;
	width: 30%;
	list-style: none;
	text-align: center;
	vertical-align: top;
	padding: 0 0.33em;
}

.actions img {
	display: block;
	width: 80%;
	height: auto;
	margin: 0 auto;
}

[role="contentinfo"] div {
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 1.5em;
}

.left-right {
	font-size: 0;
}

.left-right > * {
	font-size: 20px;
	font-size: 1rem;
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin-top: 0;
}


.left {
	padding-right: 0.75em;
	width:60%;
}

.right {
	width: 40%;
}

.right:after {
	content: ' ';
	display: block;
	clear: both;	
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
}

.get-involved {
	margin-top: 0;
}

.get-involved li {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 49%;
}

.get-involved p {
	margin: 0.25em 0 2em;
	line-height: 1.1;
}

.get-involved a {
	font-size: 0.9em;
	padding: 0.25em;
}

#open-logo {
	max-width: 400px;
}

/* breakpoints
------------------------------------------------------ */

@media all and (max-width: 850px) {

	[role="banner"] > * {
		display: block;
		width: auto !important;
		text-align: center;
	}

	[role="navigation"] ul {
		padding: 0 !important;
		margin-top: 1.5em;
	}

	[role="banner"] img {
		margin: 0 auto;
		max-width: 500px;
	}

}

@media all and (max-width: 700px) {
	
	html {
		font-size: 17px;
	}

	[role="navigation"] ul {
		display: block;
	}

	[role="navigation"] li {
		display: inline-block;
		width: auto;
		font-size: 1.5em;
		padding: 0.125em;
	}


	[role="banner"] img {
	    height: auto;
	    width: 100% !important;
	}

}

@media all and (max-width: 700px) {
	
	html {
		font-size: 16px;
	}

	.right, .left {
		display: block;
		width: auto;
		padding: 0;
	}

	.right {
		margin-top: 1.5em;
	}

}
