---
layout: base
---

<h1>{{page.title}}</h1>
{{content}}
<p style="text-align: center; margin-top: 0;"><a href="{{site.baseurl}}pages/project.html" class="button-shaped">the project</a></p>
<ul class="actions" aria-label="main topics">
	<li>	
		<img src="{{site.baseurl}}assets/design/icon_work.png" alt=""/>
		<p>{{page.latest_work}}</p>
		<p><a href="{{site.baseurl}}pages/progress.html" class="button-shaped">latest work</a></p>
	</li>
	<li>
		<img src="{{site.baseurl}}assets/design/icon_involved.png" alt=""/>
		<p>{{page.get_involved}}</p>
		<p><a href="{{site.baseurl}}pages/community.html" class="button-shaped">get involved</a></p>
	</li>
	<li>
		<img src="{{site.baseurl}}assets/design/icon_blog.png" alt=""/>
		<p>{{page.our_blog}}</p>
		<p><a href="{{site.baseurl}}posts.html" class="button-shaped">our blog</a></p>
	</li>
</ul>
